body {
    font-family: Arial, sans-serif;
  }

  form {
    width: 300px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-top: 20px;
  }

  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }

  input[type="radio"] {
    margin-top: 5px;
  }

  input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }